* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 9, 21);
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.top__heading {
  padding-top: 217px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
}
.top__text {
  padding-bottom: 44px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.top__text span {
  width: 481px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.btn {
  font-family: "Montserrat";
  font-style: normal;
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 32px;
  outline: 0;
  border: 0;
  transition: all 0.3s;
}
.btn:hover {
  background: #EB443F;
}

.game {
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.gameitem {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  width: 378px;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 16px;
  transition: box-shadow 0.3s;
}
.gameitem:hover {
  box-shadow: 0px 0px 7px 6px rgba(68, 210, 255, 0.31);
}

.gameitem_1 {
  background-image: url(img/game1.png);
}

.gameitem_2 {
  background-image: url(img/game2.png);
}

.gameitem_3 {
  background-image: url(img/game3.png);
}

.gameitem_text {
  padding-left: 32px;
  padding-bottom: 32px;
}

.seasons {
  display: flex;
  flex-direction: row;
  height: 800px;
}

.game_img {
  display: grid;
  align-items: center;
  padding-left: 135px;
}

.seasons__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .game {
    display: grid;
    justify-content: center;
  }
  .gameitem {
    width: 343px;
  }
  .top__heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__text {
    text-align: center;
  }
  .gameitem {
    width: 343px;
    border-radius: 16px;
  }
  .seasons {
    display: flex;
    flex-direction: column;
  }
  .seasons__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .image_game {
    width: 344px;
    height: 236px;
  }
  .game_img {
    padding-left: 0%;
    justify-content: center;
    margin-top: 77px;
  }
  .text_seasons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */